<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Zurb Web Application</title>
</head>
<body>
<h1>Zurb Web</h1>
<p>
This is the home page for the
Zurb Web application.
</p>
<%= link_to "Sign up now!", 'users/new', class: "btn btn-lg btn-primary" %>
</body>
</html>